body{
  background: white;
}
#title{ 
  color: blue;
}
.container{
background-color: #EFEFE8;
width:650px;
max-width:90%;
margin:25px auto;
padding: 20px 10px 10px 20px;
font: 19px sans-serif;
text-align: left;
}
#submit {
  color: blue;
}
.messages{
  width:390px; 
  height:200px;
}